/*FOROS*/
.wrapper-tables{
	display: grid;
	grid-template-columns: 8fr 3fr 3fr 2fr 2fr 2fr;
	padding: 0.5em 8em;
}

.temas{
	display: grid;
	grid-template-columns: 1fr 11fr;
}

.tema, .categoria, .usuarios, .respuestas, .visitas, .actividad{
	display: grid;
	text-decoration: none;
	color: black;
	font-weight: 800;
	border-bottom: 4px solid grey;
}

.crear-tema-btn {
	margin-top: 50px;
}

.crear-tema-btn a{
	display: block;
	text-decoration: none;
	color: white;
	background: #2388db;
	padding: 20px;
	border-radius: 4px;
	width: 500px;
	text-align: center;
}

.crear-tema-btn a:hover{
	background: #fff;
	border: 1px solid #2388db;
	color: #2388db;
}

/*JQUERY*/
.oscurecer{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 100;
	background: rgba(0,0,0,.9);
}

.crear{
	display: none;
	position: fixed;
	width: 50%;
	top: 20%;
	left: 25%;
	z-index: 200;
}

.crear-form h1{
	text-align: center;
	color: white;
}

.crear-form .titulo{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.crear-form textarea{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2em;
}

.crear-form .btn-crear{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5em;
    background: #2388db;
    cursor: pointer;
    color: white;
    font-size: 19px;
}

.crear-form .btn-crear:hover{
	background: #165487;
}