.wrapper-tables{
	display: grid;
	grid-template-columns: 8fr 3fr 3fr 2fr 2fr 2fr;
	padding: 0.5em 8em;
}

.temas{
	display: grid;
	grid-template-columns: 1fr 11fr;
}

.tema, .categoria, .usuarios, .respuestas, .visitas, .actividad{
	display: grid;
	text-decoration: none;
	color: black;
	font-weight: 800;
	border-bottom: 4px solid grey;
}