/*
Author: JulietMind;
Date: 06/10/2017;
Version: 1.0.0;
*/
*{
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/*TABLES*/
.content-temas{
	width: 100%;
}
.content-tables{
	width: 80%;
	padding: 5%;
}

tr.title{
	text-align: left;
	display: inline-table;
	width: 100%;
	padding: 5px;
}

th.tema{
	width: 45%;
}

th.categoria{
	width: 15%;
}

th.usuarios{
	width: 15%;
}

td.tema{
	width: 45%;
}

td.categoria{
	width:15%;
}

td.usuarios{
	width:15%;
}

tr.row{
	/*text-align: center;*/
	display: inline-table;
	width: 100%;
	padding: 5px;
}

